table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

tr:last-child, tr.last-row {
    border-bottom: 1px solid black;
}

th {
    padding: 8px;
    border: 1px solid black;
}

tr {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

tr:not(:first-child).selected {
    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
}

tr:not(:first-child):hover {
    cursor:pointer;
}

.counselor-btn {
    width: 100%;
    padding-left: 10px; 
    padding-right: 10px;
}

.container-counselor-btn {
    display: inline-flex; 
    width: 100%;
}

.container-top {
    padding-top: 38px;
}

.focus-input100-reverse::before {
    background: #6a7dfe;
    background: -webkit-linear-gradient(right, #21d4fd, #b721ff);
    background: -o-linear-gradient(right, #21d4fd, #b721ff);
    background: -moz-linear-gradient(right, #21d4fd, #b721ff);
    background: linear-gradient(right, #21d4fd, #b721ff);
}