@page
@model Stride.Pages.CounselorMain

@{
    Layout = null;
}

<head>
	<title>Stride</title>
	<link rel="shortcut icon" href="images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100" style="width: 80%"> <!--Each of these divs is a single column, this first one is a basic information display with values from database-->
			<span class="login100-form-title"  style="padding-bottom: 10px; padding-top: 0px;">
				Students
			</span>
			<div>
				<table style="width: 100%; border-collapse: collapse; border: 1px solid grey;">
					<tr style="border-collapse: collapse; border: 1px solid grey;">
						<th style="border-collapse: collapse; border: 1px solid grey; text-align: center;">Firstname</th>
						<th style="border-collapse: collapse; border: 1px solid grey; text-align: center;">Lastname</th>
						<th style="border-collapse: collapse; border: 1px solid grey; text-align: center;">Age</th>
					</tr>
					<tr>
						<td style="border-collapse: collapse; border: 1px solid grey; text-align: center;">Jill</td>
						<td style="border-collapse: collapse; border: 1px solid grey; text-align: center;">Smith</td>
						<td style="border-collapse: collapse; border: 1px solid grey; text-align: center;">50</td>
					</tr>
					<tr>
						<td style="border-collapse: collapse; border: 1px solid grey; text-align: center;">Eve</td>
						<td style="border-collapse: collapse; border: 1px solid grey; text-align: center;">Jackson</td>
						<td style="border-collapse: collapse; border: 1px solid grey; text-align: center;">94</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="js/jquery/jquery-3.2.1.min.js"></script>
<script src="js/main.js"></script>
</body>