@page
@model Stride.Pages.CounselorMain

@{
    Layout = null;
}

<!DOCTYPE html>

<head>
	<title>Stride</title>
	<link rel="shortcut icon" href="images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/table.css">
</head>

<body>
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100" style="width: 90%"> <!--Each of these divs is a single column, this first one is a basic information display with values from database-->
			<span class="login100-form-title"  style="padding-bottom: 10px; padding-top: 0px;">
				Students
			</span>
			<div>
				<table>
					<tbody>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Student Number</th>
						<th>GPA</th>
						<th>Education Plan</th>
						<th>Top College</th>
						<th>Major</th>
						<th>Career Path</th>
						<th>NCAA</th>
						<th>First Gen</th>
						<th>Online Learning</th>
						<th>Ethnicity</th>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="js/jquery/jquery-3.2.1.min.js"></script>
<script src="js/main.js"></script>
</body>