@page
@model Stride.Pages.IndexModel

@{
    Layout = null;
}

<head>
	<title>Stride</title>
	<link rel="shortcut icon" href="images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form">
				<div class="wrap-input100">
					<input class="input100" type="text" name="pathway"/>
					<span class="focus-input100" data-placeholder="Pathway"></span>
				</div>
				<div class="wrap-input100">
					<input class="input100" type="text" name="college"/>
					<span class="focus-input100" data-placeholder="College"></span>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="js/jquery/jquery-3.2.1.min.js"></script>
<script src="js/main.js"></script>
</body>