@page
@model Stride.Pages.Login

@{
    Layout = null;
}

<head>
	<title>Log in to your account</title>
    <link rel="shortcut icon" href="images/icons/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form" method="post">
				<span class="login100-form-title" style="padding-bottom: 28px">
					Welcome
				</span>
				<span class="login100-form-title" style="padding-bottom: 48px">
					<i class="zmdi zmdi-font"></i>
				</span>

				<div class="wrap-input100 validate-input" data-validate="Check Username">
					<input class="input100" type="text" name="user">
					<span class="focus-input100" data-placeholder="Username"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Check Password">
					<input class="input100" type="password" name="pass">
					<span class="focus-input100" data-placeholder="Password"></span>
				</div>

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="js/jquery/jquery-3.2.1.min.js"></script>
<script src="js/main.js"></script>
</body>